<!-- <div class="column-one-third">
  <h3 class="bold-medium">Standards</h3>
  <p>We can help you meet the digital service standard.</p>
</div>

<div class="column-one-third">
  <h3 class="bold-medium">Advice</h3>
  <p></p>
</div>

<div class="column-one-third">
  <h3 class="bold-medium">Staff development</h3>
  <p></p>
</div> -->

<div class="column-two-thirds">
  <h3 class="bold-medium">Standards</h3>
  <p>We set standards for how digital services are designed and built (apis, use of languages, open source). We help you to align to Government Digital Service Standards. <a href="https://www.gov.uk/service-manual/service-standard">More about the Service Standard</a></p>

  <h3 class="bold-medium">Advice</h3>
  <p>We provide advice, guidance and training to portfolios and delivery teams on building user-centred digital services. And supporting alignment to devops, tooling cloud principles and government technology strategy.</p>

  <h3 class="bold-medium">Staff development</h3>
  <p>We run community events and provide training and support to up-skill staff and teams.</p>
</div>
