

<div class="column-two-thirds">
  <h3 class="bold-medium">Standards</h3>
  <p>We help you to align with and meet Government Digital Service Standards. <a href="https://www.gov.uk/service-manual/service-standard">More about the Service Standard</a>. We also set standards for how digital services are designed and built across the Home Office (including APIs, use of languages and open source).</p>

  <h3 class="bold-medium">Advice</h3>
  <p>We provide advice, guidance and training to portfolios and delivery teams on building user-centred digital services. And support the alignment of teams to devops, tooling cloud principles and government technology strategy.</p>

  <h3 class="bold-medium">Staff development</h3>
  <p>We run community events and provide training and support to up-skill staff and teams.</p>
</div>
