<h1 class="heading-small" >Contents</h1>

<ul class="toc" id="markdown-toc">
  <li><a href="#service-assessment-rehearsal" id="markdown-toc-service-assessment-rehearsal">Service assessment rehearsal</a></li>
  <li><a href="#gap-analysis--health-check" id="markdown-toc-gap-analysis--health-check">Gap analysis / health check</a></li>
  <li><a href="#digital-service-standard-induction" id="markdown-toc-digital-service-standard-induction">Digital Service Standard induction</a></li>
  <li><a href="#web-analytics-consultancy-and-self-service-tools" id="markdown-toc-web-analytics-consultancy-and-self-service-tools">Web analytics consultancy and self-service tools</a></li>
  <li><a href="#facilitated-planning-workshops" id="markdown-toc-facilitated-planning-workshops">Facilitated planning workshops</a></li>
  <li><a href="#design-review" id="markdown-toc-design-review">Design review</a></li>
  <li><a href="#user-centred-design-induction" id="markdown-toc-user-centred-design-induction">User centred design induction</a></li>
  <li><a href="#pair-writing" id="markdown-toc-pair-writing">Pair writing</a></li>
  <li><a href="#engaging-with-gds" id="markdown-toc-engaging-with-gds">Engaging with GDS</a></li>
  <li><a href="#home-office-design-patterns" id="markdown-toc-home-office-design-patterns">Home Office design patterns</a></li>
  <li><a href="#prototype-kit-training" id="markdown-toc-prototype-kit-training">Prototype kit training</a></li>
  <li><a href="#actual-problems-to-be-solved" id="markdown-toc-actual-problems-to-be-solved">Actual problems to be solved</a></li>
  <li><a href="#measuring-value-and-estimating-cost" id="markdown-toc-measuring-value-and-estimating-cost">Measuring value and estimating cost</a></li>
  <li><a href="#access-needs-induction" id="markdown-toc-access-needs-induction">Access needs induction</a></li>
</ul>
