<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

{% include head.html %}

<body>
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <div id="skiplink-container">
    <div>
      <a href="#content" class="skiplink">Skip to main content</a>
    </div>
  </div>

  <div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
  </div>

  {% include header.html %}

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">
        {% include phase-banner.html %}

      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        {% include intro.html %}
      </div>
    </div>
    <div class="grid-row">
      <div class="column-full">
        <hr/>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-one-third">
        <!-- {% include toc.html %} -->
        {% include meta-filter.html %}
      </div>

      <div class="column-two-thirds">

        <ul class="post-list">
          {% for post in site.posts %}

          <div class="content" markdown="1">
            <h2>{{ post.title | escape }}</h2>
            <p class="meta">{{ post.category }}</p>
            {{ post.excerpt }}

            <div class="button-secondary"><a href="mailto:CentreOfExcellenceCentral@digital.homeoffice.gov.uk?subject=Book%20a%20analysis/healthcheck">Book a service health check</a></div>

            <details>
              <summary><span class="summary">More about {{ post.title | escape }}</span></summary>
              <div class="panel panel-border-narrow">
                {{ post.content | remove: post.excerpt }}
              </div>
            </details>

          </div>

          {% endfor %}
        </ul>

      </div>
    </div>

  </main>

  {% include footer.html %}

</body>

</html>
