---
layout: default
---

<div class="grid-row">
  <div class="column-full">
    {% include intro.html %}
  </div>
</div>
<!-- <div class="grid-row">

    {% include standards.html %}

</div> -->
<div class="grid-row">
  <div class="column-full">
    {% include help.html %}
  </div>
</div>

<div class="grid-row">
  <div class="column-one-third">
    <h2 class="heading-small"><a href="accessibility-and-inclusion">Accessibility and inclusion</a></h2>
    <p>Design and build your services for everyone.</p>
  </div>
  <div class="column-one-third">
    <h2 class="heading-small"><a href="architecture-and-engineering">Architecture and engineering</a></h2>
    <p>Build better, more agile services.</p>
  </div>
  <div class="column-one-third">
    <h2 class="heading-small"><a href="digital-service-standard">Digital Service Standard</a></h2>
    <p>Meeting the 18 points of the service standard.</p>
  </div>

</div>

<div class="grid-row">
  <div class="column-one-third">
    <h2 class="heading-small"><a href="product-management">Product management</a></h2>
    <p>Make projects run efficiently, while meeting user needs.</p>
  </div>
  <div class="column-one-third">
    <h2 class="heading-small"><a href="service-design">Service design</a></h2>
    <p>Service design enables us see the bigger picture, and helps to align what we do with what people need of government.</p>
  </div>
  <div class="column-one-third">
    <h2 class="heading-small"><a href="user-centred-design">User centred design</a></h2>
    <p>Designing for user needs makes services better and cheaper to make.</p>
  </div>

</div>
